<div class="container-md">
  <footer class="bg-light text-center text-white sticky-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1 no-border" href="https://www.instagram.com/dav__ecko/" role="button" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-instagram"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1 no-border" href="https://mobile.twitter.com/prcek223" role="button" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-twitter"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1 no-border" href="https://sk.linkedin.com/in/d%C3%A1vid-zimen-4568b2224" role="button" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1 no-border" href="https://github.com/DavidZimen" role="button" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <div class="text-dark text-center p-3 copyright">
      © 2020 Copyright: Dávid Zimen
    </div>
  </footer>
</div>
