<div class="container-md">
  <form #directorForm="ngForm" (ngSubmit)="onSubmit(directorForm)">
    <div class="modal-body">

      <div class="form-group">
        <label for="director-title" class="col-form-label">Meno a priezvisko</label>
        <input type="text" id="director-title" class="form-control" [(ngModel)]="addedDirector.name" required name="director-title">
      </div>

      <div class="form-group">
        <label for="director-image" class="col-form-label">Fotka</label>
        <input id="director-image" class="form-control" type="file" accept="image/png" (change)="onImageUpload($event)">
      </div>

      <div class="form-group">
        <label for="director" class="col-form-label">Popis</label>
        <textarea id="director" class="form-control h-100" rows="15" [(ngModel)]="addedDirector.description" required name="director"></textarea>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mt-2 me-2" (click)="goBack()">Zavrieť</button>
      <button type="submit" class="btn btn-success mt-2" [disabled]="!directorForm.form.valid">Uložiť</button>
    </div>
  </form>
</div>
