<div class="container-md">
  <h5 class="modal-title" id="deleteactorModalTitle">Upraviť herca</h5>

  <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
    <div class="modal-body">

      <div class="form-group">
        <label for="actor-name" class="col-form-label">Meno a priezvisko</label>
        <input type="text" id="actor-name" class="form-control" [(ngModel)]="updatingActor!.name" required name="actor-title">
      </div>

      <div class="form-group">
        <label for="actor-image" class="col-form-label">Fotka</label>
        <input id="actor-image" class="form-control" type="file" accept="image/png" (change)="onImageUpload($event)">
      </div>

      <div class="form-group">
        <label for="actor-update" class="col-form-label">Popis</label>
        <textarea id="actor-update" class="form-control" rows="10" [(ngModel)]="updatingActor!.description" required name="actor"></textarea>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mt-2 me-2" [routerLink]="['/admin_actor', adminId]">Zavrieť</button>
      <button type="submit" class="btn btn-success mt-2" [disabled]="!updateForm.form.valid">Uložiť zmeny</button>
    </div>

  </form>
</div>
