<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span class="navbar-brand ms-3 big-font">Filmania</span>
  <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#appNavBar" aria-controls="appNavBar" aria-expanded="false" title="Action bar">
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse" id="appNavBar">
    <ul class="navbar-nav me-auto mb-2">
      <li class="nav-item align-self-center">
        <a class="nav-link" routerLink="/articles_list" aria-current="page">Domov</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/films_list" aria-current="page">Filmy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Seriály</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" aria-current="page">Prihlásiť sa</a>
      </li>
    </ul>

    <form class="nav-item d-flex" role="search">
      <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light me-1" type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>

    <div class="navbar-nav ml-auto action-buttons">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>

        <div class="dropdown-menu dropdown-menu-end action-form me-2">
          <form (ngSubmit)="login()" method="post">
            <div class="form-group m-2">
              <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="userDto.email" name="email">
            </div>
            <div class="form-group m-2">
              <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="userDto.password" name="password">
            </div>
            <input type="submit" class="btn btn-dark  m-2" value="Login">
          </form>
        </div>

      </div>
    </div>

  </div>
</nav>
