<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span class="navbar-brand ms-3 big-font">Filmania</span>
  <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#appNavBar" aria-controls="appNavBar" aria-expanded="false" title="Action bar">
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse" id="appNavBar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item align-self-center">
        <a class="nav-link" routerLink="/articles_list" aria-current="page">Domov</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/films_list" aria-current="page">Filmy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Seriály</a>
      </li>
    </ul>

<!--    <form class="nav-item d-flex" role="search">-->
<!--      <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-light me-1" type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--    </form>-->
    <app-login *ngIf="appUser === null"></app-login>
    <app-avatar *ngIf="appUser !== null"></app-avatar>

  </div>
</nav>
