<div class="container-md mb-2 mt-md-2">
  <ng-template [ngIf]="userId !== undefined" [ngIfElse]="notLoggedIn">
    <div class="row">
      <div class="col-lg-9">
        <app-article-list-component [articles]="displayedArticles"></app-article-list-component>
      </div>

      <div class="col-lg-3 sticky-md-top d-none d-lg-block">
        <app-rec-film-card></app-rec-film-card>
      </div>
    </div>
  </ng-template>

  <ng-template #notLoggedIn>
    <app-article-list-component [articles]="displayedArticles"></app-article-list-component>
  </ng-template>


  <app-paginator *ngIf="articles.length > itemsPerPage" class="mt-md-2" [allPagesNumber]="allPages" (changePage)="onPageChange($event)"></app-paginator>

</div>


<app-footer></app-footer>
