<div class="navbar-nav ml-auto action-buttons me-3">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
           height="35" alt="Avatar" loading="lazy" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end me-3" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#">Môj profil</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Nastavenia</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" (click)="logout($event)">Odhlásiť sa</a>
      </li>
    </ul>
  </li>
</div>
