<div class="navbar-nav ml-auto action-buttons me-3">
  <li *ngIf="hasAuthorPrivileges()" class="nav-item align-self-center">
    <a class="nav-link" routerLink="/article_creation" aria-current="page">Napísať článok</a>
  </li>

  <li *ngIf="hasAuthorPrivileges()" class="nav-item align-self-center">
    <a class="nav-link" routerLink="/author_articles/{{userId}}" aria-current="page">Moje články</a>
  </li>

  <li *ngIf="hasAdminPrivileges()" class="nav-item dropdown align-self-center">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="navbarDropdownAdmin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Spravovať</a>
    <ul class="dropdown-menu dropdown-menu-end mt-md-3" aria-labelledby="navbarDropdownAdmin">
      <li>
        <a class="dropdown-item" routerLink="/admin_film/{{userId}}" aria-current="page">Filmy</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/admin_actor/{{userId}}" aria-current="page">Herci</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/admin_director/{{userId}}" aria-current="page">Režiséri</a>
      </li>
    </ul>
  </li>

  <li class="nav-item dropdown align-self-end">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img [src]="avatarImage" class="rounded-circle"
           height="35" width="35" alt="Avatar" loading="lazy" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end me-md-3 mt-md-2" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="#">Môj profil</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Nastavenia</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" (click)="logout($event)">Odhlásiť sa</a>
      </li>
    </ul>
  </li>
</div>
