.img-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.avatarPhoto {
  border-radius: 50%;
  max-width: 45px;
  max-height: 45px;
}

.authorText {
  color: var(--bs-gray-500);
}

.container-md {
  background-color: var(--bs-light);
}
