<div class="container-md mt-2">
  <div class="table-responsive">
    <table class="table table-striped table-hover caption-top">
      <thead class="table-light">
        <tr>
          <th class="col-4">Názov</th>
          <th class="col-4">Dĺžka [min]</th>
          <th class="col-2">Priemerné hodnotenie</th>
          <th class="col-2">Tvoje hodnotenie</th>
        </tr>
      </thead>

      <tbody *ngFor="let film of films">
        <tr>
          <td>{{film.title}}</td>
          <td>{{film.duration}}</td>
          <td><i class="bi bi-star-fill"></i>  {{film.overallRating}}</td>
          <td>
            <app-rate-film
              [filmId]="film.id"
              [userRating]="film.userRating"
              [ratingId]="film.ratingId"
              [userId]="this.userId"
              (filmRated)="loadFilms()">
            </app-rate-film>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
