<div class="container-md mb-2 mt-md-2">
    <!--List of cards with articles-->
    <div  *ngFor="let article of articles">

      <div class="card border-dark mb-2">
        <div class="card-body">
          <div class="row">

            <div class="col-6">
              <h5 class="card-title">{{ article.title }}</h5>
            </div>

            <div class="col-2">
              <a [routerLink]="['/article', article.id]" class="btn btn-dark">Otvoriť článok</a>
            </div>

            <div class="col-2">
              <button class="btn btn-danger" [attr.data-bs-target]="'#deleteArticleModal'+article.id" data-bs-toggle="modal">Vymazať článok</button>
            </div>

            <div class="col-2">
              <a [routerLink]="['/article_update', authorId, article.id]" class="btn btn-primary">Upraviť článok</a>
            </div>

            <!-- Modal -->
            <div class="modal fade in" id="deleteArticleModal{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteArticleModalTitle">Varovanie</h5>
                    <button type="button" class="btn-close" #closeButton data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Ste si istý, že chcete vymazať tento článok ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteArticle(article.id)">Vymazať</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
</div>

<app-footer></app-footer>
